* {
    margin: 0px;
    padding:0px;
    font-family: sans-serif;
    font-weight: lighter;
    /*border: 1px dotted green;*/
}

.wrapper {
    width: 970px;
    margin: 0 auto;
    background-color: #1B4F78;
}
.tr_container {
    float: right;
    margin: 10px 10px 5px 0px;
}

#tr_text {
    margin-left: 80px;
    margin-bottom: 2px;
}

.search-rectangle {
    height: 50px;
    width: 250px;
    background-color: #444444;
    border-radius: 10px;
    box-shadow: 1px 1px 1px black;
}

#search-bar {
    height: 25px;
    width: 125px;
    margin: 10px 0px 0px 40px;
    text-align: center;
    box-shadow: 1px 1px 1px black;
}

#submit {
    font-size: 11px;
    margin: 10px 5px 0px 5px;
    background-color: #2A4F76;
    position: absolute;
    border-radius: 5px;
    color: white;
    width: 35px;
    height: 30px;
    box-shadow: 1px 1px 1px black;
}

.logo {
    width: 300px;
    height: auto;
    margin-left: 20px;
    display: inline-block;
}
.menu {
        background-color: #4677AC;
        height: 40px;
        width: 860px;
        margin-left: 70px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px black;
}
    .menu ul {
        list-style: none;
        overflow: hidden;
    }

    .menu li {
        float: left;
    }

    .menu li a {
        text-decoration: none;
        display:block;
        text-align: center;
        padding: 10px 35px 0px 35px;
    }

.leftmenu {
    width: 300px;
    display: inline-block;
    margin-top: 40px;
    vertical-align: top
}
    .leftmenu ul {
        list-style-position: inside;
        list-style: none;
        text-align: center;
    }

    .leftmenu ul li:before {
        content: "\00BB \0020";
    }

    .leftmenu a {
        color: white;
        font-size: .9em;
    }

.right_body {
    width: 570px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    vertical-align: top;
}

.body2 {
    border-style: solid none none none;
    border-top-color: black;
    width: 970px;
    background-color: white;
}

.body2_left {
    width: 400px;
    display: inline-block;
    border-style: solid none none none;
    border-top-color: #6AA6D7;
    background-color: white;
    vertical-align: top;
    margin: 10px 5px 10px 50px;
    padding-top: 10px;
    text-align: center;
}

    .body2_left p {
        width: 270px;
        padding-left: 40px;
    }

    .body2_left ul {
        list-style-type: square;
        padding: 5px 90px;
    }

.body2_right {
    width: 400px;
    display: inline-block;
    border-style: solid none none none;
    border-top-color: #6AA6D7;
    background-color: white;
    vertical-align: top;
    margin: 10px 10px 10px 5px;
    padding-top: 10px;
    text-align: center;
}

    .body2_right p {
        width: 270px;
        padding-left: 40px;
    }

    .body2_right ul {
        list-style-type: square;
        padding: 5px 90px;
    }

.footer {
    height: 100px;
    text-align: center;
}

    .footer ul {
        list-style: none;
        overflow: hidden;
    }

    .footer li {
        float: left;
        position: relative;
    }

    .footer li a {
        text-decoration: none;
        display:block;
        text-align: center;
        margin-left: 80px;
        padding: 40px 20px 10px 20px;


    }

.micro{
    font-size: .4em;
}

.small {
    font-size: .8em;
}

.medium {
    font-size: 1em;
}

.white {
    color: white;
}

.yellow {
    color: #D1B600;
}

.grey {
    color: #71ADDC;
}

.link-blue {
    color: #78AEDB;
}

.noline {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.italicize {
    font-style: italic;
}

.big_linespace {
    line-height: 30px;
}
