* {
    margin: 0px;
    padding:0px;
    font-family: serif;
    font-weight: lighter;
    /*border: 1px dotted green;*/
}

.wrapper {
    width: 970px;
    margin: 0 auto;
    background: linear-gradient(to bottom, #f6f6f6 0%, #9c9e9f 100%);
}

	.header img {
		height: 90px;
		width: 170px;
		display: inline-block;
		text-align: left;
		margin-left: 10px;
	}

	.header h3 {
		display: inline-block;
		margin: 50px 0px 0px 410px;
		vertical-align: top;
	}

.menu {
		height: 37px;
		width: 970px;
		background-color: transparent;
		border-style: solid;
		border-width: thin;

}

	.menu li {
		display: inline-block;
		text-align: center;
		font-size: smaller;
		padding: 11px 40px;
		border-style: none solid none none;
		border-width: thin;
	}

	.menu a {
		color: blue;
	}
.body {
	background: radial-gradient(#79595E,#64516E,#1E0B13);
}

	.body_top img {
		height: 300px;
		width: 500px;
		border: 10px solid #C0C0C0;
		margin: 10px;
		display: inline-block;
	}

.container1 {
	display: inline-block;
	height: 320px;
	width: 400px;
	vertical-align: top;
	margin-top: 10px;
	background: linear-gradient(to right, #F0FBFF 0%, #DECADA 100%);
}

h5 {
		display: block;
		background: linear-gradient(#C2BCC3,#888292,#CDC7CD);
		padding: 10px 5px;
	}

	.container1 h6,p {
		display: block;
		padding: 10px 5px 0px 5px;
	}

.rogue {
		display: inline;
		color: #526492;
		font-size: 10px;
		margin-left: 800px;
		padding: 5px;
	}

.container2 {
	height: 420px;
	width: 215px;
	display: inline-block;
	vertical-align: top;
	margin-left: 15px;
	background: linear-gradient(to bottom, #9AA7C3 0%, #F0FBFF 100%);
	position: relative;
	margin-bottom: 20px;
}

	.container2 img {
		height: 120px;
		width: 215px;
	}

.button {
	display: block;
	height: 15px;
	width: 70px;
	background: #5B6F9D;
	border: 2px solid black;
	line-height: 15px;
    border-radius: 5px;
    text-align: center;
    padding: 1px;
    font-size: 10px;
    color: white;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	right: 20px;
	bottom: 20px;*/
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

ul {
	list-style: none;
}

p {
	font-size: smaller;
}
